body,
nav
{
    margin: 0 auto;
    width: 100%;
    font-family: 'Balsamiq Sans', cursive;
    color:white;
}
.nav-bar1{
  height: 100px;
   background-color: rgb(52, 53, 53);
  text-align: center;
  align-items: center;
}
.nav-list>li{
font-size: 20px;
     list-style: none;
    display: inline;
   

}
.nav-item{
    margin: 25px ;
    color: white;
    text-decoration: none;
}
.logo{
   
    width: 100px;
    border-radius: 5px;
}
.container-grid{
    display: grid;
    grid-gap:2px;
    grid-template-columns:auto auto;
    grid-template-rows: 600px 600px;
    background-color: #333; 
    margin: 0 auto;
    width: 100%;

}

.grid1,
.grid2{
    background-color: rgb(75, 75, 75);
}
.grid3,
.grid4 {
    background-color: rgb(66, 66, 66);
}
.square{
    margin-top: 180px ;
    margin-left: 50px;
    width: 85px;
    background-color: rgb(83, 82, 83);
    height: 85px;
    border-style: solid;
    border-radius: 5px;
    border-width: 5px;
}
.text-square1{
    padding: 20px;
    text-align: center;
}

.text-square2{
    font-size: 35px;
    padding: 20px;
    text-align: center;
}

.container-grid2{
    display: grid;
    grid-gap:2px;
    grid-template-columns:auto auto auto;
    grid-template-rows: 400px 400px 400px;
    background-color: #333; 
    margin: 0 auto;
    width: 100%;

}
.grid5,
.grid7{
    background-color:rgb(83, 83, 83);

}
.tittle-grid2{
    font-size: 29px;
    padding: 20px;
    text-align: center;
    color:white;
    text-decoration: underline;
    cursor: pointer;
    padding: 50px;
}
    
  .text-grid2{
      font-size: 20px;
padding: 20px;
text-align: center;
font-weight: lighter;
font-family: 'Noto Serif', serif;
  }

  
.grid8,
.grid10{
    background-color:rgb(124, 124, 124);

}

.grid9{
    background-color:rgb(104, 101, 101);

}